@import 'styles/config/_colors.scss';
@import 'styles/config/variables.scss';
@import 'styles/config/mixins.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  padding: $gap-x3;
  max-height: 100vh;

  /* First Row */
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-bottom: $gap-x4;

    image {
      width: 150px;
    }
  }

  /* Second Row */
  .search-container {
    margin-bottom: $gap-x2;

    @include medium {
      margin-bottom: $gap;
    }
  }

  /* Second Row Sidebar Close */
  .search-btn-container {
    display: flex;
    width: 45px;
    height: 45px;
    transition: display 3s linear;
    display: block;
    margin-bottom: $gap-x2;

    &.open {
      display: none;
    }

    .search-btn {
      background: $btn-background;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $gap-special;
      cursor: pointer;

      &:hover {
        background: $purple;
      }
    }
  }

  /* Third Row */
  .selects-container {
    margin-bottom: $gap-x2;

    @include medium {
      margin-bottom: $gap;
    }
  }

  /* Fourth Row */
  .content {
    flex: 1;
    transition: width 0.3s linear;

    &.open {
      width: 16rem;
    }

    &.closed {
      width: 45px;
    }

    @include medium {
      width: 15rem;
    }

    .button-list {
      cursor: pointer;
      transition: display 0.3s linear;
      display: none;
      height: 600px;

      &.open {
        display: block;
      }

      @include medium {
        height: 500px;
      }
    }

    .searching {
      height: auto;
    }
  }

  /* Five Row */
  .arrow-btn-container {
    position: relative;

    .btn {
      color: $snow;
      background: $btn-background;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $gap-special;
      cursor: pointer;
      right: 0rem;
      bottom: 0rem;
      position: absolute;
      transition: transform 0.3s linear;

      &:hover {
        background: $purple;
      }

      &.open {
        transform: rotate(0deg);
      }

      &.closed {
        transform: rotate(180deg);
      }
    }
  }
}