@import 'styles/config/_colors.scss';

.video-container {
  height: 100%;

  .title-container{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .title {
    display: inline;
    position: relative;
    z-index: 1;

    span::before {
      content: "";
      position: absolute;
      top: 0.9rem;
      width: 100%;
      left: 0;
      height: 1rem;
      background: $purple;
      z-index: -1;
    }
  }

  iframe {
    border: none;
    border-radius: 0.8rem;
    height: calc(100% - 2.5rem);
    width: 100%;
  }
}