@import 'styles/config/_colors.scss';
@import 'styles/config/variables.scss';

.selects-container-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gap;

  .button {
    color: $snow;
    background: $btn-background;
    border: none;
    border-radius: $radius;
    padding: $gap;
    font-family: 'Rubik';
    font-size: $normal;
    cursor: pointer;

    &:hover {
      background: $purple;
    }
  }

  .active {
    background: $purple;
  }

  &.closed {
    display: none;
  }
}