@import 'styles/config/_colors.scss';
@import 'styles/config/variables.scss';
@import 'styles/config/mixins.scss';

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $gap-x2;

    button {
      cursor: pointer;
      color: $snow;
      background: $btn-background;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $gap-special;
    }
  }

  .modal-content {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: $site-backdrop-color;
    max-width: 42rem;
    min-height: 18rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $gap-x2 $gap-x3;
    border-radius: $radius-x1;

    @include mobile {
      width: 90%;
      min-height: 80%;
    }

    .modal-body {
      p {
        color: $snow-dirty;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }

  .modal-about {
    @include mobile {
      width: 80%;
      min-height: 18rem;
    }
  }
}