@import 'styles/config/_colors.scss';

.main {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  .video {
    background-color: $btn-background-alternative;
    flex: 1;
    padding: 1.5rem;
  }
}