@import 'styles/config/_colors.scss';
@import '@styles/config/variables.scss';
@import '@styles/config/mixins.scss';

.video-container {
  height: 100%;

  .title-container{
    display: flex;
    justify-content: space-between;
    padding-left: $gap;
    margin-bottom: $gap-x2;
  }

  .title {
    display: inline;
    position: relative;
    z-index: 1;

    span::before {
      content: "";
      position: absolute;
      top: $small;
      width: 100%;
      left: 0;
      height: $gap-x2;
      background: $purple;
      z-index: -1;
    }
  }

  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;

    .btn {
      background: $btn-background;
      color: $snow;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $gap-special;
      cursor: pointer;

      &:hover {
        background: $purple;
      }
    }
  }

  .channels-btn {
    display: none;
  }

  .video {
    height: calc(100% - $gap);
    background-color: $site-background-alternative;

    iframe {
      border: none;
      border-radius: $radius-x1;
      height: calc(100% - $gap-x5);

      width: 100%;
    }

    @include mobile {
      height: 80%;
      margin-bottom: $gap-x2;

      iframe {
        height: 100%;
      }
    }
  }

  .footer {
    display: none;

    @include mobile {
      display: flex;
      justify-content: center;
    }
    .info {
      padding: 0;
      font-family: 'Rubik';
      font-size: $normal;
      color: $snow-dirty;
      text-decoration: underline;
      background: transparent;
      cursor: pointer;

      &:hover {
        color: $green;
      }
    }
  }

  @include mobile {
    .buttons-container {
      grid-template-columns: 1fr;
    }

    .channels-btn {
      display: block;
      font-family: 'Rubik';
      font-size: $normal;
      background: $btn-background;
      color: $snow;
      border: none;
      border-radius: $radius;
      padding: $gap;
      cursor: pointer;
    }

    .buttons-container {
      .btn {
        display: none;
      }
    }
  }
}