@import 'styles/config/_colors.scss';

.channels {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  overflow-y: scroll;
  width: 100%;
  height: 90%;

  .channel {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    background-color: $btn-background;
    color: $snow-alternative;
    padding: 20px 20px;
    font-family: inherit;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $btn-background-active;
      color: $snow;
    }

    &:active {
      background-color: $green;
    }

    &:first-child {
      border-top-left-radius: 0.8rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.8rem;
    }
  }

  .active {
    background-color: $green;
    color: $line;
    font-weight: 600;
  }

  &::-webkit-scrollbar {
    background-color: $btn-background-alternative;
    width: 0.6rem;
    border: none;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $site-background-soft;
    border: none;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}