@import '@styles/config/_colors.scss';
@import '@styles/config/variables.scss';

html,
body {
  color: $snow;
  background: $site-background;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
}

h2 {
  font-family: 'Rubik';
  font-size: $big;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}