// 🎨 Colors

$site-background:  #18181b; //zinc-900
$site-background-soft: #71717a; //zinc-500

$btn-background: #27272a; //zinc-800
$btn-background-active: #52525b; //zinc-600
$btn-background-alternative: #121212; //zinc-900

$line: #404040; //zinc-600

$snow: #f1f5f9; //slate-100
$snow-alternative: #e2e8f0; //slate-200
$snow-dirty: #cbd5e1; //slate-300

$green: #D8FEE4;
$purple: #CBB3F2;
$rose: #FEC7C7;