// 🎨 Colors

$site-background:  #0f172a;
$line: #475569;

$snow: #f1f5f9;

$slate-800: #1e293b;
$slate-700: #334155;
$slate-500: #64748b;
$slate-400: #94a3b8;
$slate-300: #cbd5e1;
$slate-200: #e2e8f0;
$slate-50:  #f8fafc;