// 🎨 Colors

$site-background:  #1e293b; //slate-800
$site-background-soft: #94a3b8; //slate-400

$btn-background: #334155; //slate-700
$btn-background-active: #64748b; //slate-500
$btn-background-alternative: #0f172a; //slate-900

$line: #475569; //slate-600

$snow: #f1f5f9; //slate-100
$snow-alternative: #e2e8f0; //slate-200
$snow-dirty: #cbd5e1; //slate-300