/* Gaps */
$gap-special: 0.25rem; //4
$gap: 0.5rem; //8
$gap-x2: 1rem; //16
$gap-x3: 1.5rem;; //24
$gap-x4: 2rem;; //32
$gap-x5: 2.5rem;; //40
$gap-x6: 3rem;; //48

/* Fonts Size */
$small: 0.8rem; //12
$normal: 1rem; //16
$medium: 1.2rem; //18
$big: 1.4rem; //20

/* Radius */
$radius: 0.6rem;
$radius-x1: 0.8rem;
$radius-x2: 1.2rem;
$radius-x3: 1.8rem;